[2021-07-02 13:20] kgorskowski opened #4 "Possibility to reference tfvars file path"
Hi!
Thanks for your effort. I was trying to play around with it but stumbled upon this "problem". Our setup divides stage dependent variables into tfvars in subfolders that are referenced in our CI environment.
Maybe its possible to imitate the `-var-file="testing.tfvars"` syntax from terraform here?

[2021-07-02 19:32] im2nguyen commented on #4
Thanks for your feature request! The latest version should have the `tfVarsFile` and `tfVar` for you to define Terraform variables

You can download directly from the [release](https://github.com/im2nguyen/rover/releases/tag/v0.1.5) or pull the latest Docker image.

[code]

[2021-07-08 03:36] techdragon opened #6 "Generate standalone html"
It would be very useful to be able to generate the visualisation in a format that can be generated as part of a build pipeline triggered by a pull request or other terraform automated workflows. These situations cant leave servers up and running in order to browse to the visualisation, so in a nutshell we need standalone "archiving" versions of the visualisations in these situations.

It can be as

[2021-07-08 16:04] #4 closed

[2021-07-09 06:53] im2nguyen commented on #6
Thanks for your feature request! The latest version should have the standalone mode.

You can download directly from the [release](https://github.com/im2nguyen/rover/releases/tag/v0.1.6) or pull the latest Docker image.

[code]

---

Standalone mode generates a `rover.zip` file containing all the static assets.

[code]

After all the assets are generated, unzip `rover.zip` and open `rover/index.ht

[2021-07-11 10:12] fraserc182 opened #9 "[Feature Request] Provide json plan file instead of generating plan"
Is it possible to supply a json formatted plan instead of running a terraform plan command?
I am asking because we use TF cloud and for us it would be easier to query the api to get this json plan.
https://www.terraform.io/docs/cloud/api/plans.html#retrieve-the-json-execution-plan

[2021-07-12 06:20] im2nguyen commented on #9
This is a great idea!

I'm currently working on this, but it's taking a little bit more time since the graph and the resource explorer needs access to the configuration.

Will let you know when it's out

[2021-07-12 08:06] fraserc182 commented on #9
Brilliant, thanks for the update! Happy to do any testing as well if it would be helpful.

[2021-07-28 01:10] tuxknight commented on #9
Brilliant, thanks for the update! Happy to do any testing as well if it would be helpful too.

[2021-08-18 19:33] pankajshrestha opened #10 "How can I run rover while passing tfvars locally"
Hello,

Very excited to try this out. I have downloaded the file locally in mac and trying to run from root of TF, how can I pass *.tfvars file when running rover?

Looks like there is option for passing some kind of config but did not see example of how pass this.

Appreciate suggestions on this.

Thanks

[2021-08-19 05:31] doribd opened #11 "License Missing"
Which license this project has ?

[2021-08-19 15:13] Xide opened #12 "Attribute dependencies cause graph rendering to crash"
Hello !

I am tying to use your project, however when  the diagram is generated, resources are located at the same coordinates, and i have to move them manually in order to see what it looks like.
The project i am working on have more than 200 nodes to display, it is very cumberstone to move around manually each time.
This issue happens both on live and standalone modes (generated `.png` for stand

[2021-08-19 15:22] Xide commented on #10
Hello !

Running `rover --help` explain how to use the `tfVar` and `tfVarsFile`, among others.

In order to use a `.tfvars` file, you an use this command: `rover -tfVarsFile /path/to/test.tfvars`
Be sure to use the key-value (i.e: `name=value`) format fot your tfvars file, JSON is not yet parsed corrctly by `rover`.

In order to convert a JSON into a tfvars, you can use the following snippet:

[co

[2021-08-25 16:17] #11 closed

[2021-08-25 16:17] im2nguyen commented on #11
Just added the MIT license to this!

[2021-08-31 12:49] assapir opened #15 "Azure isn't supported?"
Trying to run `Rover` tool on Azure-based terraform, but it fails with

[code]

[2021-09-02 06:55] im2nguyen commented on #15
Hello @assapir! Are you able to run `terraform plan` locally?

Rover is trying to generate a plan, but it's not able to. Can you check if you [configured the Azure provider correctly](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs#authenticating-to-azure)?

[2021-09-02 08:01] assapir commented on #15
Yes, it's working because I have azure-cli installed locally, but it's not installed in the docker image.

[2021-09-02 08:02] assapir commented on #15
Sorry for not writing that I was running it from inside the docker image

[2021-09-02 09:54] assapir commented on #15
If you want, @im2nguyen I can try to create a PR for adding azure-cli into the docker image

[2021-09-03 16:16] im2nguyen commented on #15
I'm going to close out this issue. Instructions for setting up Azure credentials in Docker container can be found in https://github.com/im2nguyen/rover/pull/16. Thanks for reporting though @assapir !

[2021-09-03 16:16] #15 closed

[2021-09-13 18:13] carlosdoliveira opened #17 "How can I use rover when module sources are in custom locations"
For example I have the following folder structure
[code]

Is there any way where I can run rover to consume the modules from the "modules" directory and initialize terraform from "product1" folder?

[2021-09-24 06:38] NeilDavisNPS commented on #17
I think I have the same issue.. my modules are located elsewhere and when I run the docker command, it complains with:

`Unable to evaluate directory symlink: lstat ../../../../modules: no such file
or directory

Error: Failed to read module directory

Module directory  does not exist or cannot be read.`

[2021-09-24 06:39] vinayatnie opened #18 "[Feature Request] rover support to terraform workspaces"
First this tool is awesome!!
we use terraform workspaces heavily and would love to have a way to pass the terraform workspace select command some how. Let me know if there is a way!

thanks!

[2021-09-24 07:20] vinayatnie commented on #18
this is for local rover on mac (not running as docker container)

[2021-09-24 08:00] andreasasujacgi opened #19 "Rover & CDK for Terraform & Azure CLI"
Hi,

First of all Rover seems great!

But, I'm trying to use Rover on a CDK for Terraform -project (CDKTF). It is understandable, that Rover does not work in the basedir of the CDK project. So, I `cd` to the dir where CDKTF creates the Terraform JSON. In that dir what happens is:
[code]

I'm sorry I don't have time to dig more into this, but just to inform you.

[2021-09-24 08:03] soubinan opened #20 "[Feature Request] How can rover use an already generated plan ?"
Thank you for this great tool!
It is really useful for a 4-eye plan checking.
But it will be really cool to be able to use rover directly with an already existing plan file (json or not) since some organization (as mine) are using some automation and abstraction stuff to generate plans and then apply them.
So as a for eye checking it will be very interesting.

Cheers :)

[2021-09-24 09:15] wouter-toppy opened #21 "[FEATURE] Terragrunt Support"
Is it possible to implement [Terragrunt](https://terragrunt.gruntwork.io/) support?

We would like to generate a Visual for our Terragrunt infrastructure.

[2021-09-24 09:24] ypismerov commented on #9
But, to be fair, “terraform plan” works just fine locally with TFE, even in the (default) remote execution mode set in the workspace, as long as you have the workspace pointed to your TFE cloud one in the code.

[2021-09-24 10:07] jimsmith opened #22 "Support for Git credentials"
When terraform module source is a private git repository prompts for login details

[code]

`main.tf`

[code]

[2021-09-24 10:46] dmomcilo opened #23 "Rover does not work with Terraform 1.0.4"
`docker run --rm -it -p 9000:9000 -v $(pwd):/src --env-file ./.env im2nguyen/rover`
`2021/09/24 10:42:45 Starting Rover...`
`2021/09/24 10:42:45 Initializing Terraform...`
`2021/09/24 10:42:46 Unable to parse Plan: terraform core version not supported by configuration`

`tfenv list`
          `  * 1.0.4 (set by /usr/local/Cellar/tfenv/2.2.2/version)`

If this is not yet implemented for newer versi

[2021-09-24 11:11] IsuruDilhan commented on #23
Facing the same issue here as well.
`$ docker run --rm -it -p 9000:9000 -v $(pwd):/src im2nguyen/rover
2021/09/24 11:09:13 Starting Rover...
2021/09/24 11:09:13 Initializing Terraform...
2021/09/24 11:09:16 Unable to parse Plan: terraform core version not supported by configuration`

[2021-09-24 11:22] bmaltais commented on #21
I sort of got it working... but the resulting visualisation does not correspond to the typical terragrunt plan output. Call rover with the  following syntax to test on your end:

`rover -tfPath /usr/local/bin/terragrunt`

[2021-09-24 11:26] wouter-toppy commented on #21
is terragrunt installed than?

Got this error:

`Unable to parse Plan: fork/exec /usr/local/bin/terragrunt: no such file or directory`

[2021-09-24 11:28] bmaltais commented on #21
This is where I have my terragrunt binaries on my linux distro. You terragrunt binary might be elsewhere... especially if you use Windows.

[2021-09-24 11:30] wouter-toppy commented on #21
ah, you mean on your local PC. i was refering to the docker container. Ill check it, moment.

[2021-09-24 11:30] bmaltais commented on #21
Here is an example of the wrong visualisation:

![image](https://user-images.githubusercontent.com/7474674/134667443-322d366f-747f-4d6e-9df3-d45fdd04ccee.png)

For a plan that read:

[code]

[2021-09-24 11:33] bmaltais commented on #21
Here is an example of the visualisation output with terragrunt:

![image](https://user-images.githubusercontent.com/7474674/134667798-11a15bf5-5991-43b4-b2ce-87e91ffce7a0.png)

and here is the plan for it:

[code]

[2021-09-24 11:39] wouter-toppy commented on #21
Yes, Ive got this. but its not aligning the blocks correctly. any idea why?

![image](https://user-images.githubusercontent.com/40226924/134668482-9e497c6a-cd9e-406f-8528-eaf60d85f1f7.png)

[2021-09-24 11:45] bmaltais commented on #21
I suspect rover is expecting pure terraform config files but when you use terragrunt it is not able to interpret them properly. I have a feeling rover will be hard to make work with terragrunt unless it can somehow leverage just the state file and the plan to do its work...

[2021-09-24 14:00] Shocktrooper commented on #20
I second this we generate plan files in a separate CICD job then pass the output to linters and other jobs for checking. It would be nice if we can do the same with rover

[2021-09-24 15:31] im2nguyen commented on #21
Yep, what Rover does is parses the configuration and the plan to generate the visualization. Since there's no configuration for terragrunt, the visualization doesn't render correctly.

Will work on a version where it generates a visualization from plan only, which _should_ solve this issue.

[2021-09-24 15:32] im2nguyen commented on #20
Will work on this next!

[2021-09-24 15:51] im2nguyen commented on #23
The [docker version of `rover`](https://github.com/im2nguyen/rover/blob/main/Dockerfile) uses the `hashicorp/terraform:light` docker image as a base, so it should be pulling in the latest version of Terraform.

I _think_ it's not working because your configuration explicitly uses `1.0.4` rather than `~> 1.0.4`, is this correct?

The best way to resolve this is to download the `rover` binary and ru

[2021-09-24 15:54] im2nguyen commented on #19
Hi @andreasasujacgi, glad you like it so far! The reason why it's not working is because the Docker image doesn't have the `az` CLI. I recommend using environment variables containing your Azure credentials to resolve this issue.

This [issue](https://github.com/im2nguyen/rover/issues/15)/[PR](https://github.com/im2nguyen/rover/pull/16) raised similar concerns. Please let me know if that helps!

-

[2021-09-24 15:55] #6 closed

[2021-09-24 15:55] #10 closed

[2021-09-24 15:57] im2nguyen commented on #18
This isn't implemented yet, but I'm curious to learn more about your use case (so I can implement it properly).

Would you like to see all the workspaces in one visualization or would you like to view one workspace at a time? For example:

[code]

[2021-09-24 16:06] anthosz opened #24 "[Feature Request] allow to modify the listening port/interface"
Hello,

I just discover this new tool that is wonderful!

But do you think it's possible to allow the modification of the port/IP (0.0.0.0 instead 127.0.0.1) via a parameter?

Can be useful in the case that we use the binary (instead docker) and the 9000 is already used by another stuff.

Best regards,

[2021-09-24 16:09] andreasasujacgi commented on #19
But ofcourse... Thanks, I'll give it a try.

[2021-09-24 16:26] avineshwar opened #25 "[Feature Request] Support for bypassing SSL verification"

[2021-09-24 17:07] mcgillij commented on #18
one workspace at a time def would fit our use-case, not sure about OP's.

[2021-09-24 17:28] dmomcilo commented on #23
Yes, the local version works as expected, thanks, and no, since this is a test project I've been using newer versions of Terraform with `>= 1.0.4` condition. Also to mention I've tried with the `~> 1.0.4` condition and it does not work as well, so guess I'm goin "old school" with local binary :) .

[2021-09-24 17:40] #23 closed

[2021-09-24 18:01] im2nguyen commented on #23
Oh that's strange. Will look into this more, thanks for reporting!

[2021-09-24 19:02] mustafa89 commented on #21
Getting this with Terragrunt workflow.
[code]
Really awesome project. Look forward to the Terragrunt support. :)

[2021-09-24 19:57] jimmytoan commented on #20
Agree on this feature, it will allow people to run terraform commands by their ways to generate the plan file. For example, this is my way to support different backend/variables for each environment
`terraform init -backend-config=backend-envs/dev.tf`
`terraform plan -var-file=variables-envs/dev.tf`

And `rover` failed to init remote backend properly

[2021-09-26 07:21] mhvelplund commented on #22
@jimsmith Could you run `terraform init` in the folder before you run Docker? That should create a `.terraform/modules` folder and a lock file.

[2021-09-26 07:50] mhvelplund commented on #22
I found a workaround.
First I export my credentials as env. vars. (not shown)
Then I make a mountable version of my local credentials.
And finally I run Rover, but notice that I overwrite the baked in Terraform with my current TF, since I have modules that require a specific version or higher.

[code]

[2021-09-26 18:20] jimsmith commented on #22
when I mount ro ~/.ssh/ and ~/.gitconfig (where git gets the creds from is used)
[code]

[code]

This then happens:

[code]

And when adding the terraform command this happens:

[code]

[code]

[2021-09-26 20:56] evleria opened #26 "Panic on deleting resource from tf file"
Rover fails with panic if I delete a resource from .tf file:

[code]

The problem is the absence of an entry for deleted resource in `map[string]*ResourceOverview`. It's created for each resource in a plan, but if it was deleted then it appears only in changes.
Anyway, creating this entry before saving a corresponding change just saves from an error. Rover won't create a node for it in the resulti

[2021-09-27 07:01] jurgen-weber-deltatre commented on #20
yeah, means you can integrate with runatlantis.io also. Let it init and plan, then I want to run rover into a dir.

Run an nginx side car to serve the atlantis webserver and anything rover creates with the zip option and extract.

[2021-09-27 07:17] HackyPenguin commented on #24
+1 This will also allow us to integrate this tool with tools like gitlab by creating a psudo review app to expose the changes. without the need to build a proxycontainer.

[2021-09-27 09:18] sujithq commented on #20
Take a look at this PR https://github.com/im2nguyen/rover/pull/27
I also modified the Dockerfile to use a multi stage approach.

[2021-09-27 11:44] davetustin opened #28 "Terraform Visualizer - Resources in the graph are on top of each other"
Hi,

This could be by design, but when I go to the Rover - Terraform Visualizer, all the resources are on top of each other in the centre of the graph.

Do I need to move these elements around manually or should it be done by Rover?

Thank you!
Dave

[2021-09-27 13:39] sams83 opened #29 "[Feature Request] Hide data marked sensitive (variables)"
Hi,

I  discover this great tool last week.

It is possible to hide or crypte somes sensitives data like password in Terraform Visualiser  ?

The password is displayed  when we get the details of VAR

Thank you!

sams83

[2021-09-27 15:42] zimmdi opened #30 "terraform modules in relative subdirectories"
Hi,
we do have the terraform modules relative to the environment related files. Is it possible to use rover with this setup?
/env/env_name/main.tf
/env/env_name/state.conf ... configuration.auto.tfvars.... etc
/terraform_modules/mod1
/terraform_modules/mod2

Where e.g. main.tf points to module ../../terraform_modules/module1

Thanks

[2021-09-27 19:47] im2nguyen commented on #28
It should be done through rover. I'm thinking there was an error while building the graph. Can you open up your browser's console and paste the error messages?

[2021-09-27 19:52] im2nguyen commented on #30
It _should_ work. Based on your description, this is similar to the [`random_test` example](https://github.com/im2nguyen/rover/tree/main/example/random-test)

Rover parses all the configuration in the current directory and its subdirectories. Since your module config is hosted outside of where your config is located, it might throw an error while graphing the resources.

Once https://github.com/im

[2021-09-27 19:52] im2nguyen commented on #26
Thanks for reporting! I'll look into this right away

[2021-09-27 19:53] im2nguyen opened #31 "[Feature Request] Homebrew installation"

[2021-09-28 06:30] zimmdi commented on #30
Hi,
thanks for the quick response.
In the example the modules are relative within subdirectories of the base configuration. In our case these are "outside" of it. I did understand that the base "starter" configuration is in /src folder. In my case the it cant address the modules because you cant go two directories up.  For my case there is the need of a "starting folder" if you like. I will check

[2021-09-28 06:55] im2nguyen commented on #19
Going to close this, if you're still experiencing this issue, can you comment/re-open on this issue? Thank you!

[2021-09-28 06:55] #19 closed

[2021-09-28 06:56] im2nguyen commented on #17
Similar to https://github.com/im2nguyen/rover/issues/30. 🤞 that once https://github.com/im2nguyen/rover/issues/20 is resolved, it'll resolve this issue. Hoping to get it pushed by end of week 😄

[2021-09-28 07:01] im2nguyen opened #34 "[Feature Request] Terraform Cloud integration"
Integrate with Terraform Cloud. When you provide rover TFC credentials, rover should be able to pull the latest plan and generate a visualization

Would be nice if we could create a GitHub action with this integration

[2021-09-28 08:20] davetustin commented on #28
Hi,

The error in the console is below.

[code]

Thank you
Dave

[2021-09-28 09:24] sharan-aadarsh opened #35 "Formatting issue with Outputs Current/ Proposed state"
The output state is coming as an individual array elements.

![image](https://user-images.githubusercontent.com/36393191/135060690-6b2668ea-642e-4506-b808-2eae47ce704d.png)

[2021-09-28 09:38] im2nguyen commented on #35
Thanks for reporting @sharan-aadarsh! Just came across this while testing, will address it in the next release 😄

[2021-09-28 09:40] im2nguyen commented on #30
https://github.com/im2nguyen/rover/pull/32 will "address" this. For this scenario, you will need to generate a plan then run rover against the plan file 😄

[code]

[2021-09-28 09:40] im2nguyen commented on #17
https://github.com/im2nguyen/rover/pull/32 will "address" this. For this scenario, you will need to generate a plan then run rover against the plan file 😄

[code]

[2021-09-28 09:45] im2nguyen commented on #21
https://github.com/im2nguyen/rover/pull/32 will "address" this. This PR will enable you to generate a visualization from a plan file

[code]

I'm unfamiliar with Terragrunt... but it seems like it's not [recommended practice](https://github.com/gruntwork-io/terragrunt/issues/720#issuecomment-497888756) to generate a plan file with Terragrunt?

Do you think the `-planPath` flag will be enough to su

[2021-09-28 09:47] im2nguyen opened #36 "[Feature Request] Link Rover UI to Terraform Registry"
It'll be nice if the resource detail section of the UI has a link to Terraform Registry. This way, users can immediately open the Registry to debug that specific resource's arguments and attributes.

[2021-09-28 09:57] im2nguyen commented on #22
Right now, the [current Docker version has Terraform `v1.0.2`](https://hub.docker.com/layers/im2nguyen/rover/latest/images/sha256-247418191f414ba592c236db9f5dceb9a36eb090b89902283f7e35ef34eae185?context=explore) which is probably why we're experiencing the `terraform core version not supported by configuration` error message.

---

I think the best way to address this issue is to download the `rov

[2021-09-28 09:58] im2nguyen commented on #25
Hi @avineshwar, can you provide more context for this?

[2021-09-28 10:15] im2nguyen commented on #28
Hello! https://github.com/im2nguyen/rover/pull/32 fixes this bug.

The bug was because the output referenced a resource attribute (`azuread_application.occm_application.application_id`) rather than the resource itself (`azuread_application.occm_application`). Updated rover so it ignores resource attributes when generating the graph, which fixed the issue when I reproduced it 😄

[2021-09-28 10:18] im2nguyen commented on #26
Hey @evleria, can you list the steps to reproduce this? Not completely sure how to reproduce this scenario

It also seems like an important and common workflow where it'll be nice to add it to the next release ([v0.2.0](https://github.com/im2nguyen/rover/pull/32))

[2021-09-28 11:20] im2nguyen opened #37 "Add documentation for new features/flags"
Would be nice to also include:

- Common use cases and `rover` commands
- A full list of flags (potentially short flags? for example, `--standalone` is `-s`)
- A website with an interactive demo of the visualization

[2021-09-28 12:04] im2nguyen commented on #9
Hey all, the latest version should have this. If it works, can you 👍   this comment? Once there's enough 👍 s, I'll close this issue.

Please let me know if you have any feedback, thanks!

You can test this workflow by:

1. Go to `example/random-test` and run the following to generate a plan output.

[code]

2.  Then, in the same directory, run the following command to force rover to use the plan f

[2021-09-28 12:05] im2nguyen commented on #20
Hey all, the latest version should have this. If it works, can you 👍   this comment? Once there's enough 👍 s, I'll close this issue.

Please let me know if you have any feedback, thanks!

You can test this workflow by:

1. Go to `example/random-test` and run the following to generate a plan output.

[code]

2.  Then, in the same directory, run the following command to force rover to use the plan f

[2021-09-28 12:06] im2nguyen commented on #17
Just merged #32, so this _should_ work.

If it works, can you 👍   this comment? Once there's enough 👍 s, I'll close this issue.

Please let me know if you have any feedback, thanks!

You can test this workflow by:

1. Go to `example/random-test` and run the following to generate a plan output.

[code]

2.  Then, in the same directory, run the following command to force rover to use the plan file y

[2021-09-28 12:06] im2nguyen commented on #30
Just merged #32, so this _should_ work.

If it works, can you 👍   this comment? Once there's enough 👍 s, I'll close this issue.

Please let me know if you have any feedback, thanks!

You can test this workflow by:

1. Go to `example/random-test` and run the following to generate a plan output.

[code]

2.  Then, in the same directory, run the following command to force rover to use the plan file y

[2021-09-28 12:07] im2nguyen commented on #35
This should be fixed with #32! Can you pull the latest Docker image and test it again? You can also re-download the binary 😄

[code]

[2021-09-28 12:07] im2nguyen commented on #29
This should be fixed with #32! Can you pull the latest Docker image and test it again? You can also re-download the binary 😄

[code]

[2021-09-28 12:07] im2nguyen commented on #28
This should be fixed with #32! Can you pull the latest Docker image and test it again? You can also re-download the binary 😄

[code]

[2021-09-28 12:13] im2nguyen commented on #24
This should be fixed with #32! Can you pull the latest Docker image and test it again? You can also re-download the binary 😄

[code]

Then, run the following command to test it on any port you desire (this example is :8080)

[code]

[2021-09-28 12:14] im2nguyen commented on #18
This should be fixed with #32! Can you pull the latest Docker image and test it again? You can also re-download the binary 😄

The new `workspaceName` flag allows you to select an existing Terraform CLI workspace.

[code]

This flag assumes that the workspace already exists. If it doesn't, rover will throw an error.

[code]

[2021-09-28 12:34] davetustin commented on #28
Hi,

Thanks for looking into so quickly. I downloaded v0.2.0 and tried it, I still get an error, but for another type of resource.

[code]

I am not using Docker, I am using rover_0.2.0_windows_amd64.zip.

Thanks again,
Dave

[2021-09-28 12:48] im2nguyen commented on #28
Hi @davetustin, are you sure you're using the latest version of `rover`? did you remove the previous version yet?

I just tried to replicate locally and it's working as expected. I added the following to `example/random-test` which should be similar to your configuration (output pointing to a data resource attribute).

[code]

[2021-09-28 12:48] mcgillij commented on #18
Nice, I'll giver a spin and report back.

[2021-09-28 13:01] im2nguyen commented on #28
Just released [this version v0.2.1](https://github.com/im2nguyen/rover/releases/tag/v0.2.1), which includes the `-version` command!

[code]

[2021-09-28 13:02] davetustin commented on #28
I replaced the rover exe with the new one, restarted vscode just to make sure. I can't see any --version command which would be useful, Is there a way I can double check?

[2021-09-28 13:06] davetustin commented on #28
Perfect timing! I am using v0.2.1 and the graph is now showing correctly. The only thing that I did notice is that the output in the terminal says it is running on 0.0.0.0:9000, rather than localhost:9000.

Looks like this did resolve it! Awesome work!

Thank for your efforts.
Dave

[2021-09-28 13:18] #28 closed

[2021-09-28 13:30] sharan-aadarsh commented on #35
Thanks, @im2nguyen for the quick fix, the proposed state shows the correct value but in the current state, the issue still persists.

[2021-09-28 13:42] rvanider commented on #30
v0.2.1 gives me the following:

[code]

Executed as follows: `./rover_v0.2.1 --planPath plan.bin --tfConfigExists=false`

[2021-09-28 13:45] im2nguyen commented on #30
Oh interesting, which module is external?

[2021-09-28 13:52] rvanider commented on #30
Both are local sub-folders.

[2021-09-28 13:57] zimmdi commented on #30
Hi,
cannot test it here directly with your image (as the plan is 0.14.5)
Building a Docker file on my own (the current in your branch is not working) with version 0.14.5 shows modules and data. Not all data (plan has Plan: 3 to add, 4 to change, 9 to destroy.)
nothing of this is shown (maybe because of the TF version i use.
And the rover still needs AWS permissions for using the plan only.
I hope

[2021-09-28 14:00] im2nguyen commented on #30
Thanks @rvanider, I'll test some more 😄

[2021-09-28 14:02] im2nguyen commented on #35
Sorry about that, just pushed the version that also fixes current state. Can you pull and try again?

[2021-09-28 14:53] mcgillij commented on #18
Just ran a quick test, got some weirdness, going to try with just the binary outside the container later today when I have a chance.
[code]

[2021-09-28 15:10] mcgillij commented on #18
This could be due to using 0.14.3 version of `terraform` in the docker image and not 1.0.7 (that you had in there).

[2021-09-28 15:16] anthosz commented on #20
I just re-download the binary but I cannot use the plan :/ (free memory was available so I don't really understand the issue but the plan is bigger)

`
2021/09/28 17:13:30 Starting Rover...
2021/09/28 17:13:30 Using provided plan...
2021/09/28 17:13:39 Generating resource overview...
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation cod

[2021-09-28 16:18] im2nguyen commented on #20
Oh that's interesting, this has to deal with rover trying to reference an attribute that doesn't exist. Is that the full error message? Can you c/p your full command you used?

[2021-09-28 16:38] anthosz commented on #20
After a new tentative, it seems ok (I regenerated the plan from scratch) but unable to see something without freeze of browser (+1000 resources in the plan so probably related :))

Tried also with standalone mode, at the end, I have a plan.js of +10MB + rso.js +5MB

[2021-09-28 16:38] anthosz commented on #24
Confirmed, thx!

[2021-09-28 16:38] #24 closed

[2021-09-28 16:48] im2nguyen commented on #20
Oh geez, 1000+ resources in one state seems intense. How do you keep track of everything?

How long do typical plans/applies take? (just curious)

[2021-09-28 17:05] anthosz commented on #20
All is tracked via a repository (and managed via modules to have a clear view)
- The plan take several minutes
- Apply is depending of the plan/diff -> if only one thing change, take only few seconds :)

When I saw your project, I immediately knew that this is what we need... but well, plan is a little big :D

[2021-09-28 17:06] anthosz commented on #20
To back to this issue, you can close it (I tested with a little plan and it works)

[2021-09-28 18:02] #20 closed

[2021-09-28 18:23] soubinan commented on #20
It works fine for me also
Thank you @im2nguyen !

[2021-09-28 18:38] #9 closed

[2021-09-28 18:39] evleria commented on #26
Hi, @im2nguyen. Thank you for responding.

**Steps to reproduce:**
1. Create `.tf` file with some resources
2. Run `terraform apply` and create these resources
3. Remove any created resource from `.tf` file
4. Run Rover

`terraform plan` should print delete action against the resource, but since it's no longer a part of `.tf` resource definition this problem occurs.

I hope I didn't miss anything.

[2021-09-29 00:07] jurgen-weber-deltatre commented on #20
amazing, tyvm!

[2021-09-29 08:38] sharan-aadarsh commented on #35
with the latest binaries, I'm not able to access the application on localhost , with old one it is running
![image](https://user-images.githubusercontent.com/36393191/135233508-97cdd93c-c9a4-4db0-ba22-ac1222398729.png)

[2021-09-29 08:39] sharan-aadarsh commented on #35
@im2nguyen , thanks for the fix, works like a charm

[2021-09-29 10:50] JM2K69 opened #39 "File doesn' exist or access"
![issue1](https://user-images.githubusercontent.com/17923944/135254285-f8f84ecd-6fa7-4e20-96c8-9c2c0e37cdec.png)

# **Or** I have access my terraform apply works great.
## here the declaration in the main.tf file
![issue2](https://user-images.githubusercontent.com/17923944/135254577-082091c9-d453-4382-b944-d82c3bf1fd75.png)

[2021-09-29 14:40] #35 closed

[2021-09-29 20:56] angeloskaltsikis commented on #21
I wouldn't say that with Terragrunt it is not the best practice to generate plan files. (Maybe that's the case for run-all commands only but i am 100% sure that this is still possible).

[2021-09-29 21:13] im2nguyen commented on #39
Hi @JM2K69,

The reason why you're getting this error is because you're running Rover in Docker and only mounting your current volume to `src` (`-v $(pwd):src`.

It's not picking up the `.ova` file you're referencing in the Terraform configuration.

To solve this, I recommend:
- downloading the Rover binary locally
- mounting the `.ova` file path to the same location in the Docker container (`-v /

[2021-09-30 18:04] therodfather commented on #19
Hey, any updates on this? I set the service principal but it still gave the same output.

[2021-09-30 18:19] im2nguyen commented on #19
Hey @therodfather, did you pass the environment variables into the docker container?

The Azure provider defaults to using the `az` CLI when it doesn't detect the necessary environment variables to authenticate to Azure.

[2021-09-30 18:54] therodfather commented on #19
I set the environment variables as show in the example above. I'm wondering if I got some of the information incorrect. Is there any other step besides exporting them?

[2021-09-30 22:48] carlosdoliveira commented on #17
I'll test it out here and will update the feedbacks here!! Thanks for the help so far!

[2021-09-30 23:01] almoore commented on #21
I think that being able to run rover with a terraform/terragrunt output plan would be a good intermediary step for supporting other workflows.

[2021-09-30 23:12] im2nguyen commented on #21
Can you test to see if the new `planPath` flag works for Terragrunt? Thanks!

[2021-09-30 23:14] im2nguyen commented on #19
You could try downloading the rover binary and run it locally.

---

Just to confirm, these are the steps to export the Azure environment variables to the container.

[code]

Then, add it as environment variables to your Docker container with `--env-file` flag.

[code]

[2021-10-01 11:12] wouter-toppy commented on #21
I Tried to get it with a plan, but I got a error:

[code]
I generated a plan locally > `terragrunt plan --refresh --out plan.out`

and locally I get the json back > `terragrunt show -json -no-color ./plan.out`

but not with Rover.

[2021-10-01 11:17] wouter-toppy commented on #21
ive got working  it locally with terragrunt and a pregenerated plan. but its still the same. all elements stacked together in the diagram

[2021-10-01 14:48] im2nguyen commented on #21
Hi @wouter-toppy, thanks for testing it out. Can you open up the browser console and c/p the error message? Thank you!

[2021-10-01 17:29] therodfather commented on #19
Yesssss! That was the missing info. Thank you!!

[2021-10-02 23:47] grafanalf opened #43 "Proper versioning for Docker images"
The only available tag for the Docker image is latest which makes difficult to layer on top of it.

[2021-10-03 18:32] avineshwar commented on #25
Internal corporate environments have TLS interceptions enabled which isn't compatible with this tool. Only after disabling the interception this works. This is likely due to certificate pinning happening somewhere.

[2021-10-03 19:05] smartaquarius10 opened #44 "[Feature Request] Hosting as SaaS?"
Team,
Is it possible to host it as SaaS so that any user can evaluate its plan as part of CI pipeline. I can see that at the time of starting. it generates visualization for one selected plan and expose it over a selected port.

Please correct me if I'm wrong, if I use this command as part of pipeline and assigning random ports again and again still, I have to be aware of the state. Because, the m

[2021-10-03 22:13] im2nguyen commented on #43
Hi @grafanalf,

Thanks for reporting. I just re-built and tagged the Docker images with the appropriate version. You can find a full list of supported versions [here](https://hub.docker.com/repository/docker/im2nguyen/rover/tags?page=1&ordering=last_updated).

Future Docker images will be automatically built and tagged due to the [GH action](https://github.com/im2nguyen/rover/blob/main/.github/wor

[2021-10-03 22:45] im2nguyen commented on #44
Hi @smartaquarius10,

Thank you for reaching out. The easiest way to incorporate rover into your CI pipeline is to use the `standalone` flag that generates a `zip` file containing all the assets rover generates. You can then unzip this file and open `index.html` in your favorite web browser to view the visualization. This is the only "supported" method because the rover server runs while the Docke

[2021-10-04 05:58] wouter-toppy commented on #21
![image](https://user-images.githubusercontent.com/40226924/135801130-eb915856-df6b-4d73-bc5d-9a9c55e20bd1.png)

[2021-10-04 07:20] KoenR3 opened #45 "Rover looks for Terraform in specific location"
Startup logs:
[code]

Now my Terraform is located in another location as it is set up to easily upgrade per user.  Is there a way to override this?

[2021-10-04 10:41] jontreharne opened #46 "[Feature Request] A way to create the PNG only."
Hi,

Our usecase is to update the documentation with a static image only.
So ideally the rover would create the png and we can archive it in our gitlab CI pipeline.

Ive tried with the static assets zip file but it does no appear to be included.

Interactive console is not required.

[2021-10-04 11:27] sujithq commented on #45
@KoenR3 use the tfPath parameter to provide a different terraform path

[2021-10-04 12:25] grafanalf commented on #43
Confirmed that tags work now. Thanks!

[2021-10-04 12:25] #43 closed

[2021-10-04 12:25] grafanalf commented on #45
@KoenR3 yeah, supply `-tfPath /usr/bin/terraform` for example, to tell Rover to use Terraform binary from another location.

[2021-10-04 12:47] smartaquarius10 commented on #44
@im2nguyen , thanks a lot for the reply. But a quick question on the standalone flag. Please correct me if I'm wrong, the source node port number has to be random write
`<random port>:9000
`Otherwise, it won't support parallelism right?

[2021-10-04 14:24] grafanalf opened #47 "panic: runtime error: invalid memory address or nil pointer dereference"
I am getting the following panic from Rover:

[code]

However, `terraform plan` works just fine, but it prints the following warning at the end:

[code]

Any ideas?

[2021-10-04 14:55] grafanalf opened #48 "Deleted resources are not visualised at all"
As part of testing Rover, I crafted a pull request for our Terraform repository that removes some resources and changes some parameters. But to my surprise, the output of Rover does not show the deleted resources at all. Am I doing wrong, or is this a known behaviour of Rover? I am using v0.2.2, for the record.

My pull request looks like this:

[code]

The output from Terraform looks like this:

[2021-10-04 15:36] im2nguyen commented on #44
Hi @smartaquarius10, with the standalone flag, Rover generates a zip with the assets. It doesn't spin up the webserver, so there will be no port conflicts

[2021-10-04 18:20] im2nguyen commented on #48
Hi @grafanalf, is this similar to this issue? https://github.com/im2nguyen/rover/issues/26

[2021-10-05 12:09] grafanalf commented on #47
I think this might be a duplicate of issue #26

[2021-10-05 12:09] #47 closed

[2021-10-05 12:10] grafanalf commented on #48
No, I don't think so. The deleted resources don't cause Rover to crash, but in the generated graph the is now way of observing such deletions.

[2021-10-05 16:32] KoenR3 commented on #45
Thanks, should have checked `--help``

[2021-10-05 16:32] #45 closed

[2021-10-07 07:41] SMillerDev commented on #31
I think I just did this for you: https://github.com/Homebrew/homebrew-core/pull/86711

[2021-10-07 07:44] SMillerDev opened #49 "[Feature request] look for `terraform` in `$PATH`"
If your terraform location isn't `/usr/local/bin/terraform` you have to specify your own location, which makes it inconvenient for people using Homebrew on new ARM based macs, and people using tfenv. Using the Unix standard `$PATH` would make it work correctly for most people.

[2021-10-08 10:19] brtkwr opened #50 "Please supply arm64 image for M1 mac"
This can be easily be done by using `buildx`  (see this example: https://github.com/docker/build-push-action/blob/master/docs/advanced/multi-platform.md).

[2021-10-08 10:43] avarghese-sqsp opened #51 "Use predefined TF plan for visualization"
Hi. Thanks for developing this tool. I am not able to run the tool as it tries to generate the TF plan but my configuration uses symlinked files and environment variables to generate the plan. Could you support loading the details directly from a specified plan file instead of generating it on the fly?

[2021-10-08 16:26] im2nguyen commented on #51
Hi @avarghese-sqsp, thanks for testing rover out! We already support this feature 😄 (Issue https://github.com/im2nguyen/rover/issues/9)

You can test this workflow by:

1. Go to `example/random-test` and run the following to generate a plan output.

[code]

2.  Then, in the same directory, run the following command to force rover to use the plan file you specified

[code]

    To force `rover` to

[2021-10-08 19:13] avarghese-sqsp commented on #51
I tried to run with the above approach and I got a complaint about symlinked files not being available. I also use a bunch of configurations via environment variables & use TF workspace, which altogether doesn't seem to be a good use-case for this app.

I definitely love what you have tried to do here. Thank you very much for building this application!

[2021-10-09 23:07] kenotsolutions opened #52 "remote state s3"
Hi,

I keep the remote-state on an s3 bucket.  When I try to run the docker command  it gives

[code]

commands
`terraform plan -var-file=qa-4.tfvars -out=tfplan` -->no-error
`terraform graph | dot -Tsvg > graph.svg`    --> no-error

`docker run --rm -it -p 9000:9000 -v $path:/src  im2nguyen/rover -planPath tfplan`  -->Error: error configuring S3 Backend: no valid credential sources for S3 Backend

[2021-10-09 23:25] #52 closed

[2021-10-09 23:58] kenotsolutions opened #53 "module terraform provider error"
I use some modules in the terraform code but it seems rover looks the provider under the .terraform/providers directory and gives errors

[code]
but model provider list under the module directory
[code]

[2021-10-10 08:34] im2nguyen commented on #53
Hi @kenotsolutions, can you try downloading the binary locally and running it?

Based on the output, it seems like Docker isn't properly loading your current working directory into the container. I think the command is supposed to be:

[code]

I don't believe `$path` points to your current directory

[2021-10-15 09:32] soubinan opened #55 "Plan files cannot be transferred between different Terraform versions"
Hello,

I have an issue with terraform binary version used with rover (output bellow)
It impose to use the exact same version as the one used to generate plan :/
It is very hard when time come to work with different plan sources (in team tf plan 4-eyes checking for example)

[code]

[2021-10-15 09:55] rquadling opened #56 "Versions number do not match"
Hi.

The version number for the release and for the output of `-version` for the v0.2.2 release do not match.

[code]

[code]

[code]

[code]

[2021-10-15 19:02] kuberkaul opened #57 "nested modules not shown in rover."
Great project first of all ! I have a tf state with main module in the main.tf/seed.tf . This module utilizes/depends on other modules so there are nested modules. Once I do a plan I can see it generated in tf plan (section of plan file here) :

[code]

^ here, you see how the first change is the main module but the rest are nested modules and all of them are going to be created. Im running rover

[2021-10-20 01:09] yu-iskw commented on #31
@SMillerDev Thank you for supporting it in Homebrew. I have an issue to install `terraform-rover` with brew, because I use `tfenv`, not `terraform` in Homebrew so that I have to switch terraform version based on the environment. Is there any workaround to avoid the error, even keeping to use `tfenv`?

[code]

[2021-10-25 14:46] gauravjain77 opened #58 "Rover visualization is not displaying in proper format"
![rover](https://user-images.githubusercontent.com/89442747/138717571-b70f781d-d1bd-4bc7-8c31-b4f70e13b7a3.png)

[2021-10-27 04:44] murugaratham opened #59 "Support ARM (M1 mac)"
Error response from daemon: image with reference im2nguyen/rover was found but does not match the specified platform: wanted linux/arm64, actual: linux/amd64

[2021-10-31 07:20] mpender opened #60 "Issue: Save Graph not working"
First off, this is a great tool!

Im trying to save the output to present in documentation etc etc
When the image is downloaded, it says its always empty.
Tried different browsers etc and no change.

Can workaround using straight screenshots of the display.

Bonus : Could we get a full screen mode of the actual visualization ? i.e remove the legend and what not so we can move around large TF code

[2021-11-01 12:23] jontreharne commented on #46
Hi - Any idea if this is targeted for a release?
Thank you

[2021-11-02 22:00] d-henn commented on #51
Does this work for plans retrieved from the Terraform Cloud API? I see there is a request to integrate with TFC, but just wondering if there is a way to leverage the API in the meantime?

[2021-11-03 16:20] im2nguyen commented on #51
Yep! You can request the TFC API to [retrieve the execution plan](https://www.terraform.io/docs/cloud/api/plans.html#retrieve-the-json-execution-plan), then pass that file as an input into rover

[2021-11-03 17:15] d-henn commented on #51
I did unfortunately it looks like under the hood it uses `terraform show`. At least when I tried it wouldn't allow a json file, it had to be an actual `plan` output :(.

Received error:

[code]

[2021-11-03 20:34] im2nguyen commented on #51
Oh interesting, I'll look into supporting this. Thanks for raising this issue!

[2021-11-04 02:41] d-henn commented on #51
Awesome thanks @im2nguyen! Do you need me to create a separate issue for this particular case?

[2021-11-04 03:02] im2nguyen commented on #60
I can't seem to reproduce this problem... can you try to reproduce it and look at any messages in the console?

[2021-11-04 03:03] im2nguyen commented on #51
I would rather use https://github.com/im2nguyen/rover/issues/34 to track this instead. Since we can use a predefined TF plan for visualization, I'm going to close this issue 😄

[2021-11-04 03:03] #51 closed

[2021-11-04 03:20] im2nguyen commented on #34
Initial code on [`tfc-integration`](https://github.com/im2nguyen/rover/tree/tfc-integration) branch can take Terraform plan as a JSON, just need to implement pull from the Terraform Cloud API.

I tested it locally using `go run . -planJSONPath=plan.json -tfConfigExists=false` and verified it worked. To generate JSON configuration in local configuration, first, generate the planfile:

[code]

then,

[2021-11-04 03:22] im2nguyen commented on #51
@d-henn, I posted an update to #34 that you can build locally and use for the time being 😄

[2021-11-04 03:28] im2nguyen commented on #34
Implementing the TFC portion seems pretty straight forward based on the [API docs](https://www.terraform.io/docs/cloud/api/plans.html)... should we expect rover to generate a new run if a plan doesn't already exist? That seems like it could lead to unintended consequences... 🤔

I'll implement it without triggering a new run if one doesn't already exist for now, based on feedback, I might add anoth

[2021-11-04 03:28] #17 closed

[2021-11-04 03:29] im2nguyen commented on #18
I'm going to close this issue for now, if people are experiencing similar issues, please let me know

[2021-11-04 03:29] #18 closed

[2021-11-04 03:29] #29 closed

[2021-11-04 03:30] d-henn commented on #34
I agree, especially since TFC could queue runs together.

Love the first MVP of this though, being able to pass that JSON file to generate the rover output is a huge win!

[2021-11-04 03:34] im2nguyen commented on #46
Not sure, rover's UI generates the image, so the only thing I can think of to implement this is to generate a headless browser that opens the page then save the static image only. As a result, I'm thinking this would only be supported in a Docker image, that way I can better control the environment (ensure headless chrome is installed) without making the rover binary large.

Haven't experimented w

[2021-11-04 03:36] im2nguyen commented on #56
🤦  this is an oversight, completely forgot to increment the version number

[2021-11-04 03:36] im2nguyen commented on #56
🤦 this is an oversight, completely forgot to increment the version number. Thanks for reporting!

[2021-11-04 03:38] im2nguyen commented on #59
Hrm, interesting. I built rover using go 1.17 which should have ARM (M1 mac) support.

Based on the error message you provided, it seems like you installed the wrong binary version (`linux/ambd64`) instead of the actual one needed for your system (`linux/arm64`).

Here's the zip file for [rover v0.2.2 `linux/arm64`](https://github.com/im2nguyen/rover/releases/download/v0.2.2/rover_0.2.2_linux_arm6

[2021-11-04 03:42] im2nguyen commented on #50
Hey @brtknr, sorry for the late response. Would this be different from the [existing `linux/arm64` zip](https://github.com/im2nguyen/rover/releases/download/v0.2.2/rover_0.2.2_linux_arm64.zip)? rover was built using go 1.17 so should support the M1 chip

You can find all binaries compiled for the various OS/Arch here: https://github.com/im2nguyen/rover/releases/tag/v0.2.2.

[2021-11-04 03:44] im2nguyen commented on #55
Oh interesting, did you download rover locally on your machine? it defaults to using the same terraform binary you're using to generate your plan 🤔

[2021-11-04 03:47] im2nguyen commented on #49
Cautiously optimistic that [`ExecPath()`](https://pkg.go.dev/github.com/hashicorp/terraform-exec/tfexec#Terraform.ExecPath) will allow me to get the path of the Terraform binary

Otherwise, we would need to go through every directory in `$PATH` to determine whether the Terraform binary exists there before using it

[2021-11-04 03:48] im2nguyen commented on #53
Going to assume this resolved the issue and closing it. Please let me know if you're still experiencing the same problem

[2021-11-04 03:48] #53 closed

[2021-11-04 05:08] soubinan commented on #55
Yeah I am using rover locally, but the plan file is from a pipeline, and the terraform binary there might be different

[2021-11-04 06:11] brtknr commented on #50
I was talking about the docker image in particular :)

[2021-11-04 07:04] im2nguyen commented on #34
Just integrated TFC and tested it out 😄

This requires you set your Terraform Cloud token to the `TFC_TOKEN` environment variable. Afterwards, there are three new flags.

1. `-tfcOrg` defines your Terraform Cloud organization (required for TFC)
1. `-tfcWorkspace` defines your Terraform Cloud workspace (required for TFC)
1. `-tfcNewRun` specifies whether you want rover to generate a new run in the

[2021-11-04 07:06] im2nguyen commented on #34
I'm planning on looking at https://github.com/im2nguyen/rover/issues/46 later this week and determine if it's feasible to attach it in this release.

If it is, I'll aim for a new release with both features the following week. Otherwise, I'll cut a release with the TFC integration only so folks can use it immediately 😄

[2021-11-04 07:15] im2nguyen commented on #50
Ooh, that makes more sense. My bad!

I created a [PR](https://github.com/im2nguyen/rover/pull/61) for it. In the process of potentially cutting a new version by mid next week, will merge the changes and push the latest image then!

[2021-11-04 07:20] im2nguyen commented on #55
This is more a Terraform thing than a rover thing. Under the hood, rover runs a version of `terraform show` to parse the plan file.

The changes I've implemented in the [`tfc-integration`](https://github.com/im2nguyen/rover/tree/tfc-integration) branch kinda resolves this (c/p from https://github.com/im2nguyen/rover/issues/34#issuecomment-960423973). This new feature allows you to reference a plan

[2021-11-05 00:46] murugaratham commented on #59
I'm actually using docker, and it's most likely a problem with the docker images aren't built to be multi arch.

I have other applications written in .net that are built for arm64, but the base images themselves were built for amd64. Have yiu tried buildx?

[2021-11-05 02:34] d-henn commented on #34
This looks awesome, the only thing I can think is TFC uses `terraform plan` as a speculative run. I don't believe speculative runs appear under `workspaces/:ws/runs`. So this would only be used under an `apply` circumstance. I believe this _"could"_ introduce a race condition if the user decides they don't want to do a `-tfcNewRun`, more likely if the **auto apply** isn't set to `true`.

In theory

[2021-11-05 03:21] im2nguyen commented on #59
Oh! Then this is a dup of https://github.com/im2nguyen/rover/issues/50 😄

I created a PR for it, but waiting for additional features I'm planning on adding this weekend so I can cut a release next week with more than one feature

[2021-11-05 03:27] im2nguyen commented on #34
Yep, that makes sense. That was the issue I was running into earlier today when testing too -- thank you for articulating and explaining it so clearly. I'm going to think about a better solution for this in the next couple days, the only one I can think of is iterating through the runs until it discovers one with a plan

It's not an elegant solution, but I _think_ if we do that, plus append the ru

[2021-11-05 03:51] murugaratham commented on #59
I see, I'll close the issue and subscribe to  #50 then, thanks for linking them

[2021-11-05 03:51] #59 closed

[2021-11-05 20:45] d-henn commented on #34
One possible solution -- you could make it so if someone uses `-tfcNewRun` it just uses that, otherwise let someone supply something like `-tfcRunId`. That way you leave it up to the issuer what run they're looking to visualize. Very similar to the `-planPath` and `-planJSONPath`, except you do some of the heavy lifting with the TFC API.

Definitely interested in seeing what you come up with!!

[2021-11-05 23:29] im2nguyen commented on #34
I think `-tfcRunId` sounds like a great solution too, the only thing is that specifying the runID breaks the flow (I think the only "easy" way to get the run ID is to go to the workspace's Run page, which kinda breaks the flow). It makes for a great escape hatch tho also should be pretty straightforward to implement.

Currently if someone uses `-tfcNewRun`, it'll use [that runID once the plan comp

[2021-11-10 02:05] im2nguyen commented on #34
Gonna aim for a release _next_ week. My personal laptop died, so dropped it of for repairs 😬

[2021-11-16 20:27] mpender commented on #60
Hi There, yes sure. Il try to recreate and get some diagnostic info

[2021-11-22 12:59] sevaho opened #63 "signal SIGSEGV: segmentation violation when running rover v0.2.2"
Hi

# Issue

I'm running the following:

[code]

OR

[code]

And it gives me:

[code]
Any idea what the problem is?

# Terraform

## Version

[code]

## Plan commands

How I got my terraform plan:

[code]

[2021-11-25 10:01] ADTC commented on #45
But why is this necessary? Couldn't `rover` just run `terraform` wherever it may be? Or at least check the output from `which terraform` automatically and use that.

[2021-11-26 06:56] ADTC opened #64 "Hangs with "Initializing Terraform..." (please introduce verbose logging option)"
I tried both Linux and Windows versions of `rover` 0.2.2 amd64, and they are getting stuck and freezing at `Initializing Terraform...`. It appears frozen for a very long time, and I have no idea what it is doing. The usual output from `terraform plan` is silenced when it's run through `rover` and I couldn't find any option to enable verbose logging.

Note that I'm using the executable directly, an

[2021-12-02 10:49] jonwilliams84 commented on #58
I am able to replicate this also:

![image](https://user-images.githubusercontent.com/24478629/144407858-3d8fbd07-9599-4c25-ab77-9c056dab1a66.png)

[2021-12-03 17:16] im2nguyen commented on #58
Can you provide more information on how to replicate this? In addition, can you open up the console? There should be an error message when the graph fails to render like this

it'll help me in debugging the issue, thanks!

[2021-12-08 12:30] jonwilliams84 commented on #58
I am running 0.2.1 on Fedora Linux. (I downloaded the 0.2.2) binary but -version says 0.2.1.

All of my terraform is split out of main.tf into specific resource / service tf files, and I use env.tfvars to keep my code dry.  Almost every object managed by terraform is derived from an upstream module as opposed to individual resources.

What other info would help?

[2021-12-08 16:33] im2nguyen commented on #58
Hi @jonwilliams84, thanks! Can you open the visualization in your favorite browser, go to devtools and c/p the error message?

Also, what version of Terraform are you running?

[2021-12-09 23:45] nhomble opened #66 "[feature] visualizing the state file"
Instead of just relying on diffs, would it make sense to supply a state backend directly and visualize the infra structure? I see other issues related to TF Cloud integration. I think it would be cool to visualize a workspace.

[2021-12-10 19:56] dsab123 commented on #58
Hello, really enjoying this package, @im2nguyen !

I'm running into the same visualization issue.

![image](https://user-images.githubusercontent.com/3699629/145633781-90d9fa3d-c911-4487-b427-0610e16d4b42.png)

The error is:

```vue-cytoscape.common.js:2465 Uncaught (in promise) Error: Can not create edge `azurerm_cosmosdb_account.combine-db->azurerm_resource_group.Sequoia-Combine-RG.name` with no

[2021-12-10 19:57] im2nguyen commented on #58
Thank you! I'll look into this soon 😄

[2021-12-11 06:07] im2nguyen commented on #66
Hi @nhomble, can you elaborate on this? Are you proposing visualizing from the state file only as opposed to the plan file?

Also, what did you mean by "I see other issues related to TF Cloud integration"?

[2021-12-11 06:08] im2nguyen commented on #64
Hi @ADTC, that's interesting. It should be using your default version of Terraform and returning the error message from terraform init if there is one

Do you run into an issue initializing the workspace with the Terraform binary directly?

[2021-12-11 06:21] im2nguyen commented on #63
Hi @sevaho, looking into this!

This is an interesting bug since... by the time it gets to this section, rover should have parsed through all the resources and modules. Rover runs into this issue because [it detects a change in the object itself](https://github.com/im2nguyen/rover/blob/main/rso.go#L166), but the object isn't categorized as a [resource](https://github.com/im2nguyen/rover/blob/main/

[2021-12-11 13:59] nhomble commented on #66
Definitely not **only** because I see value in visualizing the plan when reviewing a pull request, but I visualizing the state file could be a nice alternative

https://github.com/im2nguyen/rover/issues/34 was one I saw after a quick search

[2021-12-13 17:47] jlestrada commented on #63
Just coming by to plus one this issue. I ran into the issue myself while giving Rover a test run. The quick and dirty way of fixing it is as @im2nguyen mentioned where a conditional resource lookup will create the object during the resource change loop.

To reproduce...
[code]

Even with a quick and dirty fix, the graph seems to be having some other issues with displaying resource destroys. If i g

[2021-12-20 17:46] KarthikRajashekaran opened #70 "Terraform Visualizer - Resources in the graph are on top of each other"
Hi,

When I go to the Rover - Terraform Visualizer, all the resources are on top of each other in the center of the graph.

Am I missing anything
![image](https://user-images.githubusercontent.com/33160284/146810084-42161820-d0e7-41be-9264-69d5124ad6d3.png)

Thank you!
Karthik

[2021-12-23 09:55] EugenMayer opened #71 "Heads up"
What an _awesome_ piece you have build - and so much needed.

During building our entire  openstack/k8s cluster with terraform used for everything, I ran into the "I did not read the plan and typed yes" and then nuked an entire section without the indeed. Reading the inline diff on the cli becomes really hard with a lot of resources and your project here **nails it**.

Thank you so much creating a

[2021-12-23 10:07] EugenMayer opened #73 "Update docker-image to terraform 1.1.2"
Not a big deal, could you just retrigger / reparam the CI to use terraform 1.1.2?

If this is a critical update due to the minor bumb, could you then just user `im2nguyen/rover:1.1` for the time being?

Doing this locally right now
[code]

[2021-12-23 10:09] EugenMayer commented on #73
Created PR #74 - yet did not incorporate any docker tagging, waiting for your feedback / ideas on that, if needed at all

[2021-12-28 08:01] DadouneDa opened #75 "Graph items are overlapping each other"
Hi,
As said before me, it's a cool project, I hope it will work for me as well (:

My Env:

- rover_0.1.3_windows_amd64
- Terraform v1.0.10
- azurerm v2.84.0

My CLI:
[code]

I applied the Rover my full infra project including ~26 resources and the graph items were overlapping each other like a stack.

I then tried to use a simpler infra with only 3 resources, and it also had all the items one abo

[2021-12-31 09:56] Davidffry opened #77 "[Standalone] Http presentation - enhancement"
Hello,
It's possible to create a "real" standalone http page, with no deps in it?

maybe in the future PR?

[2021-12-31 10:11] Davidffry commented on #77
Ex :
[code]

[2021-12-31 10:43] EugenMayer commented on #57
Also really needed for us, we basically have only nested modules, so rover yet only shows the bare entrypoint (and thus is yet unusable for us). And I would so much love to use rover .. it is so very much needed over here!

[2021-12-31 15:22] jlestrada commented on #63
FWIW I am no longer able to reproduce this error, despite no visible changes to the code. I thought it might have been related to a recent update to the terraform-json package but I don't see anything there either. 🤷

[2022-01-03 02:29] im2nguyen commented on #77
Hello! Are you proposing adding all the dependencies to the single HTML file? Is there a reason why you're seeking this?

There's a PR for exporting the visualization as an image. Would this address your request?

[2022-01-03 05:12] Davidffry commented on #77
Hello,
The PR doesn't respond to all the problematics. When you export the image, you don't export the data about the "transformation", the before and after.
My idea is to have one file, HTML file, with all elements to avoid "transformation" and push it as a doc in the CMDB.

And the term "standalone" doesn't work if there are dependencies 😄

[2022-01-11 04:38] dontmint opened #78 "Unsupported State Format Version >= "1.0""
**Problem**

Rover can not parse Terraform plan version >= "1.0"

[code]

**Version**
Terraform: v1.1.2
Rover: 0.2.2
Platform: darwin_arm64 (Apple M1)

I init my new infrastructure using TF version v1.1.2, please add support for the latest version.
Thanks in advance.

[2022-01-11 22:33] #26 closed

[2022-01-11 22:33] #46 closed

[2022-01-11 22:33] #48 closed

[2022-01-11 22:33] #57 closed

[2022-01-11 22:33] #60 closed

[2022-01-11 22:35] im2nguyen commented on #78
This latest PR should resolve your issue. Gonna take some time for the Docker image to complete building but please let me know if it resolves your issue 😄

[2022-01-11 22:35] #73 closed

[2022-01-12 05:30] im2nguyen commented on #75
Hey @DadouneDa, can you try again? If it's occurring, can you open up your browser console c/p the error message? thank you!

[2022-01-12 06:50] DadouneDa commented on #75
Hi @im2nguyen, I ran it again and it reoccurs, the output in the console is:

![image](https://user-images.githubusercontent.com/82889007/149078091-c561276a-f5ec-4668-8e88-ff35ba56da9f.png)

[2022-01-12 07:09] im2nguyen commented on #75
Interesting... are you able to run the `example/random-test` one successfully?

can you send sample config that can reproduce the error?

[2022-01-12 10:44] DadouneDa commented on #75
The `example\random-test` is not working as well
![image](https://user-images.githubusercontent.com/82889007/149125698-35af2190-f8d2-4b43-9c3f-7c3100160db8.png)

[2022-01-12 16:44] #71 closed

[2022-01-12 16:45] im2nguyen commented on #75
That's... really interesting. Which browser are you using? How are you running the command from your terminal? Are you using docker or did you download the binary locally?

[2022-01-12 19:12] DadouneDa commented on #75
I tried with both Chrome and Edge and Firefox.
I'm running this command via the CMD terminal `rover -tfPath "C:\Program Files\terraform\terraform.exe"`
I'm using the win binary exe

I also tried with another PC and I got the same issue

[2022-01-12 19:20] #75 closed

[2022-01-12 19:24] DadouneDa commented on #70
Hi @KarthikRajashekaran , it happened to me as well, I downloaded the new version (win binary) v0.3.0 and it's working, try it out

[2022-01-13 01:19] #78 closed

[2022-01-13 01:20] #70 closed

[2022-01-13 01:21] #30 closed

[2022-01-13 01:21] #31 closed

[2022-01-13 01:22] #63 closed

[2022-01-13 01:22] #58 closed

[2022-01-13 01:56] IvanovOleg opened #80 "Unsupported state format version: expected ["0.1" "0.2"], got "1.0""
Rover has issues with terrafrom 1.1.3
2022/01/12 20:54:28 Unable to parse Plan: Unable to read Plan: unsupported state format version: expected ["0.1" "0.2"], got "1.0"

[2022-01-13 15:46] EugenMayer commented on #22
You can easily pass the ssh-agent to the docker-image, why not just do that?

[code]

This is the agnostic way for this exact issue since docker exists

[2022-01-13 15:51] EugenMayer opened #81 "Feature-Request: Button to show changing resources only"
Due to the amount of modules and nested modules, the graph is huge in our case:

![image](https://user-images.githubusercontent.com/136934/149362971-ac27fbf1-cbda-45e1-8472-3076f3a70d22.png)

It would be really helpful to be able to limit the graph (using a button in the UI) to resources which are going to change. This helps getting an overview a lot better.

What do you think?

[2022-01-13 15:53] EugenMayer opened #82 "Feature-Request: Filter using the resource-button"
It would be awesome to be able to click on `Resource-Delete` and only show those resources, which are deleted. Same for created/updated. It would make traversing and understanding the changes a lot easier, splitting the visuals into parts to inspect.

What is your take on that?

[2022-01-13 15:54] EugenMayer opened #83 "Bug: No way to 'unclick a resource'"
When one selects a resources the the graph, there is no way to unselect it - the only way is to reload the page entirely.

This could be a side effect of nested modules.

[2022-01-14 12:20] mkyc opened #84 "[BUG] panic: runtime error: invalid memory address or nil pointer dereference v0.3.0"
Hi, thanks for that amazing tool.

I found that version `v0.3.0` doesn't work while `v0.2.2` does work:

[code]

when running the same with `v0.2.2` it works.

[2022-01-14 12:22] EugenMayer commented on #84
I have seen the same, it is most probably related to nested modules or modules which are referenced by git - not yet sure

[2022-01-14 12:27] mkyc commented on #84
Might be. I do use AWS modules:

[code]

[2022-01-14 19:23] JackFlukinger commented on #84
That is probably the issue -- I'll check it out later today.

[2022-01-15 00:24] JackFlukinger commented on #84
For the time being @mkyc @EugenMayer it should run with -TFConfigExists=false, let me know if it doesn't

[2022-01-15 21:18] mkyc commented on #84
@JackFlukinger yes. Actual flag is `-tfConfigExists=false` but yes it does work with that flag 👍

[2022-01-17 04:06] im2nguyen commented on #83
If you click on the root resource (the background), you should be able to unselect it.

I noticed selecting/unselecting resource is a little buggy tho, will look into it 😄

[2022-01-17 04:07] im2nguyen commented on #82
That makes sense! If I'm understanding you correctly, this feature will help users filter based on resource action (created, updated, delete, etc)

[2022-01-17 04:08] im2nguyen commented on #81
This makes sense. Would this be related to this ticket (https://github.com/im2nguyen/rover/issues/82)? Have buttons where it'll allow you to filter out resources in the graph view?

[2022-01-17 04:08] im2nguyen commented on #80
Hello! Are you using v0.3.0? The latest version supports Terraform 1.1+

[2022-01-17 05:56] EugenMayer commented on #81
Somewhat I guess - I think it should be a checkbox instead of a button to emphasise it stays selected all the time, so one can combine 'changed only' with 'deleted only' - does this make sense to you?

[2022-01-17 05:57] EugenMayer commented on #80
User TIF 1.1.2 and 1.1.3 without any of those issues here, so works for me :)

[2022-01-17 07:10] EugenMayer commented on #83
It is not easy to get to the background at all for me :) The chart is huge right now, since it does show more then "changed" and thus it's hard. But i also tried it to click on the backround, since it is the natural way of doing that, it did not work for me. Maybe this is a other thing with nested modules, since the entire graph is nested in one nested module in the end and you cannot really click

[2022-01-17 13:43] IvanovOleg commented on #80
I tested with 0.2.2, since 0.3 was not available at that time. I will try 0.3

[2022-01-17 15:33] IvanovOleg commented on #80
Works with 0.3

[2022-01-17 15:33] #80 closed

[2022-01-18 00:15] pindge opened #85 "docker run fails to include modules"
command
[code]

logging
[code]

our folder structure

[code]

[2022-01-18 06:34] EugenMayer commented on #85
This is just an issue with your mounts, not rover. Please understand how mounts are transparent in the docker container and that you cannot navigate on your local disk as it is just there - you have to properly mount all the folders in a way that they are transparent, also path wise (relative)

[2022-01-23 01:37] chenrui333 commented on #84
I run into the [similar runtime panic issue,](https://github.com/Homebrew/homebrew-core/pull/92973), and this is what I got in my local with `-tfConfigExists=false` (same error regardless):

[code]

[2022-01-23 01:37] chenrui333 commented on #84
Let me give that fix PR a shot.

[2022-01-24 18:44] #84 closed

[2022-01-24 19:28] chenrui333 opened #87 "runtime panic issue with 0.3.0 release"
Still have some issue with running rover in my local

### How to reproduce

- grab the artifact from [releases page](https://github.com/im2nguyen/rover/releases/tag/v0.3.0)
- create `main.tf`
- run `rover_0.3.0_darwin_arm64/rover_v0.3.0 -standalone -tfPath <path-to-terraform-installation>`

#### main.tf ref

[code]

### error log
[code]

[2022-01-24 19:29] chenrui333 commented on #84
@im2nguyen still have the issue with the new re-tagged release. And I create a new issue tracker #87. Thanks!

[2022-01-24 19:31] im2nguyen commented on #87
@JackFlukinger

[2022-01-24 19:38] JackFlukinger commented on #87
@im2nguyen I'll check this out later today :)

[2022-01-24 19:46] chenrui333 commented on #87
The how to reproduce covers what I have (I am probably using the default config)

[2022-01-24 21:56] im2nguyen commented on #87
I just created a new release with the changes that @JackFlukinger implemented (thanks!)

once the new release is built (~10 mins), can you test it? thanks for reporting and testing out rover!

[2022-01-24 22:38] chenrui333 commented on #87
This is the error right now

[code]

[2022-01-24 22:50] JackFlukinger commented on #87
Hey @chenrui333 , haven't seen that error before. I think that might be something on your end -- I just downloaded and tested with the binary you're using, seems to work properly. Your configuration is still just the output, correct?

[2022-01-28 10:28] anthonyangel opened #89 "Allow custom Cloud backends"
The TFC functionality looks like it uses the default `app.terraform.io` hosted version of TFC. Can it be extended to allow passing in a hostname, to support TFC enterprise or Scalr / Spacelift?

[2022-01-28 15:33] prassanna-ravishankar commented on #66
+1  This request. I would like to generate a rudimentary arch. diagram from a state file, or have it in CI/CD.

[2022-01-28 20:03] im2nguyen commented on #66
Oh! If this is with Terraform Cloud, there should work now:

 https://github.com/im2nguyen/rover/issues/34#issuecomment-960505015

[2022-01-31 18:24] jlestrada opened #90 "runtime error: invalid memory address or nil pointer dereference (Mislabeled Resource Type)"
Posting this for now as I continue to debug, but maybe others are seeing similar issues.

Overview: Runtime error when attempting to generate graph from provided plan that points to an invalid memory address reference. Upon further debugging, it appears to be related to a Data source type being labeled as a Resource source type. At the moment I am unsure of how to reproduce.

Release Version: 3.0

[2022-01-31 18:31] nhomble commented on #66
From the linked pr, @im2nguyen, pulling the last plan would definitely help.

We would still be interested in running against the actual workspace though if we wanted to visualize the infrastructure for a more holistic review. So use cases we imagine:
- adding as an informational step in our TFE pipeline against the plan
- randomly review the current state from a UI

[2022-01-31 19:21] jlestrada commented on #90
Hmmm I think i am getting closer but still unable to determine the issue. It appears to be related to the fact that the resource is an Array `Data` source. I don't believe the element within the Array is being processed in the above logs. I do see some references to replace the Brackets in the parent address and guessing one of these are causing the issue with the Child resource. I don't have enou

[2022-01-31 19:32] jlestrada commented on #90
Oh wait I got it... but not exactly sure of the details or if I am breaking anything else. To clarify, I added the following line [here](https://github.com/im2nguyen/rover/blob/main/map.go#L202)

[code]

If i understand correctly, this is a conditional statement that matches Resources and Data Types that are Index types. If that is true, then I dont know why all id that are no Index types still se

[2022-02-01 19:18] jlestrada commented on #90
For anyone following, I still have yet to find a proper fix. I dont think the one listed above makes the correct change. My lack of understanding on the application architecture i think is preventing me from providing a proper PR to correct the issue.

I have however been able to reproduce with the following code snippet.

[code]

This will create an array of Data resource types that will trigger

[2022-02-02 01:37] JackFlukinger commented on #90
Hey @jlestrada , I'll check this out a bit later. Thanks for the thorough documentation :) .

[2022-02-07 05:39] Yashfork commented on #47
Hi @im2nguyen ,

While running docker run, I'm getting the above panic error. Any suggestions on what could be done to mitigate this issue

[2022-02-07 05:51] im2nguyen commented on #47
Hi @Yashfork, can you provide more context so I can reproduce your error?

It'll be nice to understand what the plan does (create, update, destroy) and the error logs.

[2022-02-08 12:38] nonbeing commented on #90
I'm also getting a stack trace but it looks quite different from the one posted here.

[code]

I'm on Rover version `v0.3.0`

The above crash is also happening when I run just `rover` without any commandline args.

[2022-02-08 23:54] jlestrada commented on #90
@nonbeing the stacktrace appears to be failing in a different portion of the PopulateModuleState function. I agree that i believe this is a different issue. You can attempt to pull the latest source and build locally to test what changes fixed the above mentioned issue. The 0.3.0 release does not contain my proposed fixed for Data source array runtime error.

If you can define a way to reproduce i

[2022-02-09 00:04] JackFlukinger commented on #90
I'll check this out a bit later today. Thanks for reporting!

[2022-02-09 03:07] JackFlukinger commented on #90
Hey @nonbeing , make sure you're on the most recent 3.0 version. I'm pretty sure this is something on your end -- the thrown line in your stacktrace (rso.go:219) is blank. Also @jlestrada , I believe @im2nguyen merged your PR and re-released rover with the modified block.

[2022-02-09 04:43] Yashfork commented on #90
I encountered the same issue as mentioned by @nonbeing, I haven't installed rover rather I'm using "docker run --rm -it -p 9000:9000 -v $(pwd):/src im2nguyen/rover" command.

Status: Downloaded newer image for im2nguyen/rover:latest
2022/02/09 04:40:58 Starting Rover...
2022/02/09 04:40:58 Initializing Terraform...
2022/02/09 04:41:09 Generating plan...
2022/02/09 04:41:20 Generating resource over

[2022-02-09 04:48] JackFlukinger commented on #90
@Yashfork What's the general structure of the terraform configuration you're applying?

[2022-02-09 05:01] Yashfork commented on #90
@JackFlukinger To setup landingzone in GCP I'm trying to run 0-bootstrap https://github.com/terraform-google-modules/terraform-example-foundation/tree/master/0-bootstrap

[2022-02-09 05:12] Yashfork commented on #90
FYI: I'm able to create plan and can visualize it through Terraform visual but facing issues with Rover

[2022-02-09 05:22] JackFlukinger commented on #90
@Yashfork I'll have a look in more detail tomorrow, thanks for reporting!

[2022-02-09 10:56] nonbeing commented on #90
@JackFlukinger

I am indeed on the latest version of Rover:
[code]

I am using Terraform `v1.1.5` on macOS Monterey 12.1

The crash is 100% reproducible at my end. I tried running `rover` for all the 3 examples in the repo: `simple-test`, `random-test` and `nested-test` and rover has no issues running in those directories, I get the web page on http://localhost:9000 and everything.

Rover used to

[2022-02-09 17:53] JackFlukinger commented on #90
@nonbeing What is line rso.go:219 from your local installation? Also, rover 0.2.1 isn't compatible with Terraform 1.1.5 -- if you downgrade to Terraform 1.1.0 it should work.

[2022-02-09 19:17] nonbeing commented on #90
I'm using the rover v0.3.0 binary for my platform. I downloaded the `rover_0.3.0_darwin_amd64.zip` package that contains the `rover_v0.3.0` executable  from the releases page: https://github.com/im2nguyen/rover/releases/download/v0.3.0/rover_0.3.0_darwin_amd64.zip ... So I'm not sure how to check `rso.go:219` in my local installation since it's a binary?

I'm not a Golang programmer, just an end-u

[2022-02-09 19:33] JackFlukinger commented on #90
@nonbeing Oh this is very helpful, I'll have a fix later today. 🙂

[2022-02-10 00:41] casey-robertson-paypal commented on #90
Experiencing the same issue with a fairly large AWS-based TF state.  Hopefully similar issue:

[code]

[2022-02-10 03:21] JackFlukinger commented on #90
Hey @casey-robertson-paypal , @nonbeing , @Yashfork , could one of you test the PR I just submitted? I haven't been able to replicate the issue locally but I'm fairly certain that should resolve it.

Sorry about the confusion earlier, my local repo was weirdly out-of-sync. If you could follow the [build from source](https://github.com/im2nguyen/rover#build-from-source) section with my PR and then

[2022-02-10 03:35] nonbeing commented on #90
@JackFlukinger Thanks for looking into this and the speedy PR! I don't have a Golang dev-setup so I can't build from source. If you could share a binary for "darwin_amd64" somewhere, I would be happy to test it against my TF state.

[2022-02-10 03:51] JackFlukinger commented on #90
Hey @nonbeing , here you go https://file.io/LvPgsOBGGqi9

[2022-02-10 04:01] nonbeing commented on #90
@JackFlukinger It's working now!  🎉🎊
I'm even able to see the visualizations in the web app on localhost:9000
Thank you and well done! 👍

[2022-02-10 04:03] nonbeing commented on #90
<img width="824" alt="image" src="https://user-images.githubusercontent.com/897313/153334706-3769cd52-944f-4e46-96f7-195d4c223c45.png">

P.S. this is the visualization for our rather complex AWS setup (if I may say so myself) ... I guess this is a mini stress test of sorts for Rover perhaps, and it's passing this with flying colors! 😄

[2022-02-10 04:07] JackFlukinger commented on #90
@nonbeing Out of curiosity, what are the resources outside of the purple background? That may not be intended behavior.

[2022-02-10 04:13] nonbeing commented on #90
Sure, here's the SVG: https://file.io/YJrw7hJXmSEp

[2022-02-10 04:39] JackFlukinger commented on #90
Okay @nonbeing , definitely not intended. Where is the `data.aws_iam_policy_document.webhook_sns_topic_policy` supposed to be housed? Should be a simple fix.

[2022-02-10 11:00] Yashfork commented on #90
@JackFlukinger It is working now!

I tried creating a docker image manually and it is working fine. Thanks for the quick fix :)

[2022-02-10 11:39] nonbeing opened #93 "Invalid visualization"
As was being discussed in #90, according to @JackFlukinger, there's an issue in the visualization of my AWS-based TF state.

SVG generated by Rover is here: https://file.io/YJrw7hJXmSEp

Let's discuss and fix this issue here instead of in the original bug meant for the panic that got fixed.

I'm not sure I understand, @JackFlukinger ... Could you please explain what the issue is?

[2022-02-10 11:40] nonbeing commented on #90
@JackFlukinger I've created a new bug to discuss the issue with the visualization since (I guess) it's unrelated to the panic/crash that you fixed here.

Can we take the conversation around `data.aws_iam_policy_document.webhook_sns_topic_policy` over to #93?

[2022-02-10 11:49] nonbeing commented on #90
When I run `terraform plan` this is the snippet of the output related to `data.aws_iam_policy_document.webhook_sns_topic_policy`:

[code]

As far as I can tell, this is just noise. My TF plan seems to contain a lot of noise; despite `apply`ing it, every plan contains 28 diffs that never go away and this is one of them.

Does this information help you?

[2022-02-10 11:53] nonbeing commented on #93
When I run `terraform plan` this is one of the snippets of the output related to `data.aws_iam_policy_document.webhook_sns_topic_policy`:

[code]

The above diff also occurs for another module, `module.pay_and_resolve.module.stripe_webhook.data.aws_iam_policy_document.webhook_sns_topic_policy`

As far as I can tell, this is just noise. My TF plan seems to contain a lot of noise; despite `apply`ing

[2022-02-10 15:28] #90 closed

[2022-02-10 15:41] JackFlukinger commented on #93
Yes, that's very helpful!

So the issue is that `data.aws_iam_policy_document.webhook_sns_topic_policy` belongs in the `stripe_webhook` module, but in the visualization it's completely outside the purple backdrop.

It should be a quick fix, but can you send an image of: the `details` block on the left side of rover after you click `data.aws_iam_policy_document.webhook_sns_topic_policy`? I may also

[2022-02-11 08:09] nonbeing commented on #93
@JackFlukinger I've hosted the Rover UI for my TF state over at http://rover.anatta.space - please feel free to use this link to check the full visualization as you need.

[2022-02-11 17:18] pezhore opened #94 "Error access remote module registry"
I'm running into an issue when trying to parse  Terraform code with modules from the registry.

## main.tf
[code]

I would assume the expected behavior is to pull the `3.4.1` module from the [Terraform Registry](https://registry.terraform.io/modules/Terraform-VMWare-Modules/vm/vsphere/latest), but instead I'm getting this output:

[code]
The behavior is the same when I do not provide the `-planPat

[2022-02-13 23:18] JackFlukinger commented on #93
Thanks so much @nonbeing , I'll get to this in more depth tomorrow.

[2022-02-14 20:54] casey-robertson-paypal opened #95 "question: Does this tool only visualize changes to state?"
We have a decent sized monolithic state.  Finally got the tool running...it presented a UI but then nothing in the "map".  I see a list or resources starting below this map but I cannot scroll.  Is this a UI or resource issue??

[2022-02-14 21:51] iMichka opened #96 "0.3.1 checksum changed"
Hi. I am a maintainer of the Homebrew package manager.
We noticed that the checksum of the 0.3.1 release has changed from (sha256): 8d880bdd2a4f0c6817c71d5da4e22c5ba5dafa2cec712101950fce530f20ea12 to 72b86f11f0674e88c01753e262947425e8ff4396aacfe03ddb7d3bf17b89e8dd

This is a major security issue as upstream release checksums are not supposed to change. Did you retag the release (which is something

[2022-02-16 04:57] im2nguyen commented on #96
I accidentally retag the release. My bad, what can I do to resolve it?

[2022-02-16 14:05] iMichka commented on #96
Thanks for the clarification. Right now it's too late for that release.

Next time the best is probably to leave the tag on the old commit, and create a new 0.3.2 release instead.

[2022-02-16 14:05] #96 closed

[2022-02-20 06:33] nonbeing commented on #93
@JackFlukinger any chance you can take a look at this in the next week?

[2022-02-20 19:19] JackFlukinger commented on #93
Hey @nonbeing , I'm planning to, got derailed by a concussion last week.

[2022-02-21 04:23] nonbeing commented on #93
Ouch, take care. Take a look whenever you're better, no issues.

[2022-03-03 01:37] JackFlukinger commented on #93
Hey @nonbeing , I'm getting back into it. Can you clone the linked PR, rebuild rover on your end, and re-host the visualization you have up right now? Make sure to rebuild the frontend with `npm run build` before you `go install`. This will just print some helpful debug messages for me :).

[2022-03-03 04:02] JackFlukinger commented on #93
Whoops, sorry @nonbeing -- forgot you don't have a go dev setup. Here's the binary: https://file.io/p1uqibJBpeFh

[2022-03-04 00:31] JackFlukinger commented on #95
Hey @casey-robertson-paypal , if there is a list of resources, those resources should also be shown in the "map" -- or as rover calls it, the graph. This may be a UI issue.

For debugging purposes, can you show the command you use to run rover as well as a screenshot of rover in browser?

[2022-03-04 03:18] nonbeing commented on #93
Thank you for the binary, but I'm running Rover on an Ubuntu AMD64 VM on GCP, so it didn't work.

Rather than troubling you again for a new binary, I finally got my Go dev setup done on my MacBook Pro. I cloned your PR (97) locally, then cross-compiled the rover binary for Ubuntu with `GOOS=linux GOARCH=amd64 go build`, then`scp`ed  it over to the GCP VM and restarted Rover.

I believe the new `co

[2022-03-04 03:19] JackFlukinger commented on #93
Sweet, I'll check this out tomorrow!

[2022-03-05 02:44] JackFlukinger commented on #93
I understand the problem now! Kind of a tricky one, makes sense that it didn't get tested out. Writing this out so I remember tomorrow.

When two resources have the same resource type (e.g. `aws_ssm_parameter`) and they are in different files in the _same module_, rover only has one node for `aws_ssm_parameter`, because the resource "id" is the same (e.g. `module.network.aws_ssm_parameter`).

So I

[2022-03-05 04:36] JackFlukinger commented on #93
Okay @nonbeing , try the PR now, believe it's fixed :).

[2022-03-05 05:05] #93 closed

[2022-03-07 06:55] nonbeing commented on #93
Thanks, will do!

[2022-04-01 08:47] dorinand commented on #47
@im2nguyen I encounter the same issue. I have plan in json format. I run it with command:
[code]

Tried version `v0.3.1` but the result is the same.

[2022-04-04 22:55] hatembentayeb opened #98 "Add Support for terraform 1.1.3"

[2022-04-05 15:42] ncecere opened #99 "Add Support for Terraform Version 1.1.7"
Failed to read plan from plan file: plan file was created by Terraform 1.1.7,
but this is 1.1.2; plan files cannot be transferred between different
Terraform versions.

Please add support for Terraform 1.1.7

[2022-04-06 04:39] victor10x commented on #34
I would love to see this feature officially get added in. In the meantime I'm just putting here that I'm running into an issue:

[code]

The run is not active. Possibly more helpful details:
![Screen Shot 2022-04-05 at 9 35 58 PM](https://user-images.githubusercontent.com/100236620/161896863-e76de032-b4f9-41d5-9517-77b191b7be39.png)

TIA for any help!

[2022-04-06 19:45] victor10x commented on #34
Just to note I did get it to work using this command.
[code]
Two things about this:
1. I think our graph is pretty complex and it locked up my browser for quite a while. And then as soon as I started zooming out I lost the whole thing and didn't find a way to "reset". So, loading and then having to start over was fairly painful.
2. As I understood your previous comment about `-tfcNewRun` I think t

[2022-04-15 15:34] im2nguyen commented on #20
Hi @shanoor, we deprecated the `tfConfigExists` flag. Can you try running `rover_v -planPath test.tfplan`?

[2022-04-15 15:35] im2nguyen commented on #44
Re-opening as reference for making Rover a Terraform Cloud run task

[2022-04-19 15:34] jlund69 opened #100 "support tfenv as optional for homebrew"
I think it should be easy enough to support both **tfenv** and **terraform** for homebrew.
The current **_terraform_** requirement could be changed to recommended, and **_tfenv_** can be added as optional.  Then terraform-rover could be installed via brew with either.  (or neither)

It would look like this in the brew formula:

Q: Is there anything else that should be done?
Perhaps having the brew

[2022-04-19 15:47] SMillerDev commented on #100
Optional is not allowed in homebrew core but you can do this in a personal tap.

[2022-04-21 15:49] jlund69 commented on #100
How about just setting terraform as recommended?  Those that use tfenv, could use the --skip-recommended flag when installing.
In the package description note that users who have terraform available via method other than the brew terraform package can install rover via brew with --skip-recommended, but will need to validate their terraform install/configuration works with rover on their own.

@SMi

[2022-04-22 18:15] jlund69 commented on #100
for now I'm using **ignore-dependencies** and installing via bundle.  Knowing the deps are actually installed via the bundle.
It is working.  As using **ignore-dependencies** does work I'll close this ticket.  Thanks for the quick responses.

[2022-04-22 18:15] #100 closed

[2022-04-26 19:50] ZeChArtiahSaher commented on #83
Also would be nice if there was some simple support for at least macbook touchpad for two finger panning. Currently UI behaves the same with panning/pitching.

[2022-04-26 21:16] ZeChArtiahSaher opened #102 "cli opt -genImage not working?"
I assume genImage should generate image without running a server. However it's not the case with rover -genImage -planPath plan.json

[2022-05-03 14:03] ffred1962 opened #103 "error launching rover"
[code]
I use terraform **1.1.9** and  provider registry.terraform.io/hashicorp/**oci v4.73.0**

[2022-05-04 01:33] JackFlukinger commented on #102
It should run the server but then terminate shortly after starting, and save the generated image to whatever directory rover is being run from.

[2022-05-24 14:05] teru01 opened #104 "Dependencies in configuration blocks are not shown"
When referencing other resources in the configuration block of a resource block, dependencies on those resources are not displayed.

Example: define aws_ecs_service as follows

[code]

Visualizing this definition would look like this

![image](https://user-images.githubusercontent.com/27873650/170052538-e5571ef5-9370-4685-b19f-f28654a90bef.png)

There should be dependencies on the security group i

[2022-06-16 13:24] ukreddy-erwin opened #105 "SVG image is not at all visible"
Ran rover on top of this folder on windows machine.

https://github.com/hashicorp/terraform-provider-aws/tree/main/examples/eks-getting-started

"C:\Users\UReddy\Desktop\eks\rover_0.3.2_windows_amd64\rover_v0.3.2.exe" -workingDir . -tfPath "C:\tools\terraform.exe"

But getting very small image not visible at all.

Same issue even when saving the svg file.

![rover (1)](https://user-images.githubus

[2022-06-16 14:54] palmobar opened #106 "SIGSEGV in map.go line 250"
Hi, sometimes `configs[parentConfig].Module.ModuleCalls[matchBrackets.ReplaceAllString(re.Name, "")]` can be `nil` which leads to SIGSEGV, I've patched it in a following way:

[code]

[2022-06-16 15:42] Shocktrooper commented on #37
Any movement on the documentation for the available flags?

[2022-06-16 15:54] Shocktrooper commented on #55
Any word on this feature being released?

[2022-06-16 16:07] im2nguyen commented on #106
Hi, can you create a PR for this?

[2022-06-17 13:20] EKPAVEL opened #107 "Dependencies GCP"
Hello!

I'm trying to use your application and have a question about the relationships in the graph.

I've tried to visualise the infrastructure from GCP and everything seems fine, but there are completely missing links between the modules.

Is this problem related to the provider?

Start command:
docker run \
--rm -it -p 9000:9000 -v $(pwd):/src \
-e GOOGLE_APPLICATION_CREDENTIALS=/tmp/keys/audit

[2022-06-17 21:21] im2nguyen commented on #37
Not yet, sorry, I've been busy the last couple of months. I'll try to get this done

[2022-06-24 10:11] palmobar commented on #106
Should have done that from the start ;>
https://github.com/im2nguyen/rover/pull/108

[2022-06-24 10:11] #106 closed

[2022-06-28 13:34] cveld opened #109 "Windows support"
When running the 0.3.2 binary on Windows I get the following error:

[code]

What can I do to fix this?

[2022-07-07 10:36] flyte commented on #64
I have the same problem when using the docker image with:

[code]

It just stays like this, apparently doing nothing :shrug:

[2022-07-11 07:27] palmobar opened #110 "Can we have a new release from main?"
Hi, main has a fix that would help me to roll out rover to our ci pipeline(s), could we make a release?

[2022-07-13 08:53] crispinboylan-int commented on #104
I see this also with depends_on block, does not render any explicit dependencies declared in that block.

[2022-07-22 16:35] im2nguyen commented on #110
Yep, doing that in a bit

[2022-07-22 17:24] im2nguyen commented on #110
Done! https://github.com/im2nguyen/rover/releases/tag/v0.3.3

[2022-07-22 17:24] #110 closed

[2022-07-22 17:25] im2nguyen commented on #99
This should be addressed with the latest release! It should now be at v1.2.5

[2022-07-22 17:26] im2nguyen commented on #98
This should be addressed with the latest release! It should now be at v1.2.5

[2022-08-11 00:28] martintodorovBL commented on #105
Hi,

We're experiencing the same kind of issue. Is there any way to control this?

[2022-08-11 20:18] steve-todorov commented on #105
Hey, any updates on this? We are also having issues with this.

[2022-08-17 12:47] yu-iskw opened #115 "[Feature Request] pass a plan file instead of generating inside rover"
## Motivation
We use terraform to set up Google Cloud. And we store terraform states in GCS buckets. So, we need permissions and credentials to execute `terraform plan`.
I would like to integrate rover with GitHub Actions. But when we use a custom container action, it is quite difficult to pass credentials of Google Cloud SDK to it. So, I would like to separate the step to generate a plan file fro

[2022-08-17 15:28] kp-bogdan-danila commented on #115
What you can currently do is to create your plan through terraform and parse it as json to rover:

terraform plan -out plan.out
terraform show -json plan.out > plan.json

docker run --rm -it -p 9000:9000 -v $(pwd):/src im2nguyen/rover:latest -planJSONPath=plan.json

That's how I'm currently running rover due to plugins issues

[2022-08-17 15:32] captaindanila commented on #115
What you can currently do is to create your plan through terraform and parse it as json to rover:

terraform plan -out plan.out
terraform show -json plan.out > plan.json

docker run --rm -it -p 9000:9000 -v $(pwd):/src im2nguyen/rover:latest -planJSONPath=plan.json

That's how I'm currently running rover due to plugins issues

[2022-08-17 21:46] yu-iskw commented on #115
@captaindanila That looks like what I am looking for. I will give it a try. Thank you.

[2022-08-24 14:02] captaindanila opened #116 "Issues with terraform versioning when using rover"
I'm trying to build a graphic while running rover (from my terraform project directory) through docker with the following command:

`docker run --rm -it -p 9000:9000 -v $(pwd):/src im2nguyen/rover:v0.3.3 -planPath terraform.tfstate`

The output would be the following:

`2022/08/24 13:54:51 Starting Rover...
2022/08/24 13:54:51 Using provided plan...
2022/08/24 13:54:53 Unable to parse Plan: Unable

[2022-08-25 11:00] alen-z opened #117 "Brew Terraform dependency"
Hi,

I'd suggest Terraform is removed as a dependency in Brew since it can conflict with local setup, e.g. when `tfenv` is used instead managing Terraform installation with Brew.

Cheers,
Alen

[2022-08-26 20:41] fraserc182 opened #118 "Plan fails due to missing variable, even when passing variable with -tfVar"
I'm trying to use rover but getting issues with missing variables.
This is the command I am using:

`docker run --rm -it -p 9000:9000 -v $(pwd):/src im2nguyen/rover -standalone true -tfVar clusterName=eu-cluster`

then I see this error:
[code]

Is there something I am missing here?

[2022-09-12 23:58] pneigel-ca commented on #99
Hi,

I am trying to run rover v0.3.3 in a docker container but I'm still receiving an error. Here's the version constraint from my provider.tf:

[code]

Here's how I'm invoking rover:

`docker run --rm -it -p 9000:9000 -v $(pwd):/src im2nguyen/rover:v0.3.3 -tfVarsFile ./test/terraform.tfvars -standalone true`

I receive this output:
[code]

[2022-09-15 15:38] martintodorovBL commented on #118
Hi,

I'm actually also hitting the same issue. @fraserc182 / @im2nguyen : Any hints on how to fix this?

[2022-09-17 19:04] majorku5anagi opened #119 "CI/CD Integration ideas"
Hi,

Great tool and benefits are immediately visible. I'm currently using it locally, outside of the CI/CD pipeline as helper before I push the code which brings me to the question of possible scenarios where this can be employed as part of the pipeline. Something like report for the PR approver. Are there such scenarios and what could be the best practice for that kind of integration?

[2022-10-09 11:37] Marwen94 commented on #22
A way to allow terraform init to download your private Github Terraform module from rover docker image is to run the following locally in your host machine (or CI runner) :

`git config --global url."https://oauth2:${SECRET_TOKEN}@github.com".insteadOf https://github.com`

then mount your local `gitconfig` to rover image :

`docker run --rm -it -p 9000:9000 -v $(pwd):/src -v ~/.gitconfig:/etc/gitc

[2022-11-01 16:09] nswamy opened #120 "terraform target option"
In terraform you can provide a target module to apply using `-target` option to only execute a particular module.
Does rover support a similar option ? similarly how do you pass the additional options to terraform ?